body{
	background-color: #ffffff;
	font-family: 'Sniglet', cursive;
}
h1{
	letter-spacing: 5px;
	line-height: 3;
	text-align: center;
	font-size: 60px;

}
p{
	font-size: 30px;
}
#two{
	text-align: right;
}
#one{y'all spencer is dumb
	text-decoration: underline;
}